@model IEnumerable<GymSheet.Models.Exercise>

@{
    ViewData["Title"] = "Exercícios";
}

<h2 class="text-center text-primary">Exercícios</h2>

@if (TempData["confirm"] != null)
{
    <p class="alert alert-success h6">@TempData["confirm"]</p>
}
@if (TempData["erro"] != null)
{
    <p class="alert alert-danger h6">@TempData["erro"]</p>
}

<hr />
<p>
    <a class="btn btn-primary btn-sm createExerc">Cadastrar novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MuscleGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MuscleGroup.Name)
                </td>
                <td>
                    <a data-id="@item.Id" class="btn btn-info editExerc btn-sm">Editar</a> |
                    <a data-id="@item.Id" class="btn btn-danger deleteExerc btn-sm">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="modal" role="dialog"></div>

@section Scripts{
    <script src="~/js/Scripts.js"></script>
}